<div class="row link">
  <hr size="5" color="black">  
    <div class="menu">
      <a href="/"> Biografi</a> 
      <a href="/skill"> Skills</a> 
      <a href="/myclosefriend"> My Close Friend</a> 
      <a href="/contactme"> Contact Me</a> 
    </div>
  <hr size="5" color="black">
</div>